# General
.DS_Store
*.swp
*.bak
*.tmp
*.log
.env
.idea/
.vscode/
nova-venv/

# contract
contract/target
contract/*.wasm

# server
mcp-server/.env

# JS/Node
node_modules/
npm-debug.log
yarn-error.log

# NOVA sdk RS
nova-sdk-rs/Cargo.lock
nova-sdk-rs/target
nova-sdk-rs/.env