# General
.DS_Store
*.swp
*.bak
*.tmp
*.log
.env
.idea/
.vscode/
nova-venv/

# contract
contract/target
contract/*.wasm

# agents
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
*.egg

# server
mcp-server/.env

# JS/Node
node_modules/
npm-debug.log
yarn-error.log