# General
.DS_Store
*.swp
*.bak
*.tmp
*.log
.env
.idea/
.vscode/
nova-venv/

# contract
contract/target
contract/*.wasm
contract/Cargo.lock

# agents
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
*.egg

# JS/Node
node_modules/
npm-debug.log
yarn-error.log